    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <app-top-header></app-top-header>
        <app-left-sidebar></app-left-sidebar>

        <div class="page-wrapper">
            <app-breadcrumb></app-breadcrumb>

            <div class="container-fluid">
                <app-dashboard></app-dashboard>
            </div>

            <app-footer></app-footer>
        </div>
    </div>

<router-outlet></router-outlet>
